/* Edirom Source Manager
 * Copyright Benjamin W. Bohl 2014.
 * bohl(at)edirom.de
 *
 * http://www.github.com/edirom/ediromSourceManager
 * 
 * ## Description & License
 * 
 * This file defines CSS rules for Edirom Source Manager.
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Application styles could go here */

.file-controls span {
  color: #888888;
  margin: 0 3px;
  display:inline-block;
}

.file-controls span:hover {
  color: #444444;
}